{# scoutnet_kalender/templates/snk-event.html.twig #}
<div id="snk-event-{{ event.uid }}" class="snk snk-termin">
    <dl>
        <dt class="snk-eintrag-datum-ueberschrift">{{ "date"|t }}</dt>
        <dd class="snk-eintrag-datum">{{ event.startTimestamp|date("D") }},&nbsp;{{ event.startTimestamp|date("d.m.Y") }}{% if event.showEndDate %}&nbsp;-&nbsp;{{ event.endTimestamp|date("D") }},&nbsp;{{ event.endTimestamp|date("d.m.Y") }}{% endif %}</dd>

        <dt class="snk-eintrag-zeit-ueberschrift">{{ "time"|t }}</dt>
        <dd class="snk-eintrag-zeit">{% if not event.allDayEvent %}{{ event.startTimestamp|date("H:i") }}{% if event.showEndTime %}&nbsp;-&nbsp;{{ event.endTimestamp|date("H:i") }}{% endif %}{% endif %}</dd>

        <dt class="snk-eintrag-titel-ueberschrift">{{ "titel"|t }}</dt>
        <dd class="snk-eintrag-titel">{{ event.title }}</dd>

        <dt class="snk-eintrag-stufe-ueberschrift">{{ "section"|t }}</dt><dd>{{ event.stufenImages|raw }}</dd>

        <dt class="snk-eintrag-kategorien-ueberschrift">{{ "categories"|t }}</dt>
        <dd class="snk-eintrag-kategorien">{{ event.categories|map(p => "#{p.text}")|join(", ") }}</dd>

        {% if event.description %}<dt class="snk-eintrag-beschreibung">{{ "description"|t }}</dt><dd>{{ event.description }}</dd>{% endif %}
        {% if event.Location %}<dt class="snk-eintrag-ort">{{ "location"|t }}</dt><dd>{{ event.ZIP }} {{ event.Location }}</dd>{% endif %}
        {% if event.Organizer %}<dt class="snk-eintrag-veranstalter">{{ "organizer"|t }}</dt><dd>{{ event.Organizer }}</dd>{% endif %}
        {% if event.Target_Group %}<dt class="snk-eintrag-zielgruppe">{{ "targetGroup"|t }}</dt><dd>{{ event.Target_Group }}</dd>{% endif %}
        {% if event.URL %}<dt class="snk-eintrag-url-label">{{ "URL"|t }}</dt><dd class="snk-eintrag-url"><a target="_blank" href="{{ event.URL }}">{{ event.URL_TEXT?event.URL_TEXT:event.URL }}</a></dd>{% endif %}
        <dt class="snk-eintrag-autor">{{ "author"|t }}</dt><dd>{{ event.author.fullName }}</dd>
    </dl>
    <div class="snk-footer">
        <span class="btn snk-hinzufuegen">
            <a href="https://www.scoutnet.de/community/kalender/termine-bearbeiten/structure/{{ structures.0.uid }}/new" target="_top">{{ "add event"|t }}</a>
        </span>
        <span class="btn snk-powered-by">
             <span><a href="http://www.scoutnet.de/technik/kalender/" target="_top">ScoutNet.DE</a></span>
        </span>
    </div>
</div>
