{# scoutnet_kalender/templates/snk-full-view.html.twig #}
{{ attach_library('scoutnet_kalender/snk') }}
<div id="snk-{{ structures.0.uid }}" class="snk">
    <div class="snk-body">
        <form class="snk-form" action="" method="post" id="snk-form">
        {% if optionalStructures|length > 0 %}
            <fieldset id="snk-stammesAuswahl" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
                <legend>
                    <span class="fieldset-legend">{{ "stammesAuswahl"|t }}</span>
                </legend>
                <div class="fieldset-wrapper">
                    <div id="edit-stammesAuswahl" class="form-checkboxes">
                    {% for optionalStructure in optionalStructures %}
                        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-stammesAuswahl-{{ optionalStructure.structure.uid }} form-item-stammesAuswahl-{{ optionalStructure.structure.uid }}">
                            <input type="checkbox" class="form-checkbox" onclick="form.submit();" {{ optionalStructure.selected?'checked':'' }} name="addids[]" value="{{ optionalStructure.structure.uid }}" id="add_id_{{ optionalStructure.structure.uid }}" title="{{ optionalStructure.structure.ident }}">
                            <label for="add_id_{{ optionalStructure.structure.uid }}" class="option">&nbsp;{{ optionalStructure.structure.ident }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </fieldset>
        {% endif %}
        {% if optionalCategories|length > 0 %}
            <fieldset id="snk-categoryAuswahl" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
                <legend>
                    <span class="fieldset-legend">{{ "categoryAuswahl"|t }}</span>
                </legend>
                <div class="fieldset-wrapper">
                    <div id="edit-categoryAuswahl" class="form-checkboxes">
                    {% for optionalCategory in optionalCategories %}
                        <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-categoryAuswahl-{{ optionalCategory.category.uid }} form-item-categoryAuswahl-{{ optionalCategory.category.uid }}">
                            <input type="checkbox" class="form-checkbox" onclick="form.submit();" {{ optionalCategory.selected?'checked':'' }} name="addcats[]" value="{{ optionalCategory.category.uid }}" id="add_cats_{{ optionalCategory.category.uid }}" title="{{ optionalCategory.category.text }}">
                            <label for="add_cats_{{ optionalCategory.category.uid }}" class="option">&nbsp;{{ optionalCategory.category.text }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </fieldset>
        {% endif %}
        </form><br>

        <div class="snk-termine">
            <!--div class="infobox infoboxEmpty">Terminsuche: <input type="text" placeholder="Tabelle durchsuchen"></div-->
            <table class="table table-hover search-table">
                <thead>
                <tr class="snk-headings-row">
                    {% if structures|length > 1 %}<th class="snk-eintrag-ebene-ueberschrift">{{ "ebene"|t }}</th>{% endif %}
                    <th class="snk-eintrag-datum-ueberschrift">{{ "date"|t }}</th>
                    <th class="snk-eintrag-zeit-ueberschrift">{{ "time"|t }}</th>
                    <th class="snk-eintrag-titel-ueberschrift">{{ "titel"|t }}</th>
                    <th class="snk-eintrag-stufen-ueberschrift">{{ "section"|t }}</th>
                    <th class="snk-eintrag-kategorien-ueberschrift">{{ "categories"|t }}</th>
                </tr>
                </thead>
                <tbody>
                {% set old_year = 1970 %}

                {% for event in events %}
                    {% if old_year != event.startYear or old_month != event.startMonth %}
                        <tr class="info">
                            <td colspan="6" class="snk-monat-heading">{{ event.startDate|date("F 'y") }}</td>
                        </tr>
                        {% set old_year = event.startYear %}
                        {% set old_month = event.startMonth %}
                    {% endif %}
                <tr class="snk-termin-row-{{ loop.index / 2 ? 'odd': 'even'}}">
                    {% if structures|length > 1 %}<td class="snk-eintrag-ebene">{{ event.structure.longName }}</td>{% endif %}
                    <td class="snk-eintrag-datum">{{ event.startTimestamp|date("D") }},&nbsp;{{ event.startTimestamp|date("d.m.") }}{% if event.showEndDate %}&nbsp;-&nbsp;{{ event.endTimestamp|date("D") }},&nbsp;{{ event.endTimestamp|date("d.m.") }}{% endif %}</td>
                    <td class="snk-eintrag-zeit">{% if not event.allDayEvent %}{{ event.startTimestamp|date("H:i") }}{% if event.showEndTime %}&nbsp;-&nbsp;{{ event.endTimestamp|date("H:i") }}{% endif %}{% endif %}</td>

                    <td class="snk-eintrag-titel">
                        {% if event.showDetails %}
                            <a href="#snk-termin-{{ event.uid }}" name="snk-termin-{{ event.uid }}" class="snk-termin-link{{ eventId == event.uid ?'-opened': '' }}" onclick="if(snk_show_termin) return snk_show_termin({{ event.uid }}, this);">
                                {{ event.title }}
                            </a>
                        {% else %}
                            {{ event.title }}
                        {% endif %}
                    </td>

                    <td class="snk-eintrag-stufe">{{ event.stufenImages|raw }}</td>
                    <td class="snk-eintrag-kategorien">{{ event.categories|map(p => "#{p.text}")|join(", ") }}</td>
                </tr>

                {% if event.showDetails %}
                    <tr id="snk-termin-{{ event.uid }}" class="snk-termin-infos snk-termin-row-{{ loop.index / 2 ? 'odd': 'even'}}" style="display: {{ eventId == event.uid?"table-row":"none" }};">
                        <td colspan="6">
                            <dl>
                                {% if event.description %}<dt class="snk-eintrag-beschreibung">{{ "description"|t }}</dt><dd>{{ event.description }}</dd>{% endif %}
                                {% if event.Location %}<dt class="snk-eintrag-ort">{{ "location"|t }}</dt><dd>{{ event.ZIP }} {{ event.Location }}</dd>{% endif %}
                                {% if event.Organizer %}<dt class="snk-eintrag-veranstalter">{{ "organizer"|t }}</dt><dd>{{ event.Organizer }}</dd>{% endif %}
                                {% if event.Target_Group %}<dt class="snk-eintrag-zielgruppe">{{ "targetGroup"|t }}</dt><dd>{{ event.Target_Group }}</dd>{% endif %}
                                {% if event.URL %}<dt class="snk-eintrag-url-label">{{ "URL"|t }}</dt><dd class="snk-eintrag-url"><a target="_blank" href="{{ event.URL }}">{{ event.URL_TEXT?event.URL_TEXT:event.URL }}</a></dd>{% endif %}
                                <dt class="snk-eintrag-autor">{{ "author"|t }}</dt><dd>{{ event.author.fullName }}</dd>
                            </dl>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

                </tbody><tbody>
                </tbody></table>
        </div>
    </div>
    <div class="snk-footer">
	<span class="btn snk-hinzufuegen">
		<a href="https://www.scoutnet.de/community/kalender/termine-bearbeiten/structure/{{ structures.0.uid }}/new" target="_top">{{ "add event"|t }}</a>
	</span>
        <span class="btn snk-powered-by">
		 <span><a href="http://www.scoutnet.de/technik/kalender/" target="_top">ScoutNet.DE</a></span>
	</span>
    </div>
</div>
