{# scoutnet_kalender/templates/snk-block.html.twig #}
{{ attach_library('scoutnet_kalender/snk') }}
<div id="snk-block-{{ structures.0.uid }}" class="snk-block">
        <dl>
            {% for event in events %}
            <dt>
                {{ event.startTimestamp|date("D") }},&nbsp;{{ event.startTimestamp|date("d.m.") }}{% if event.startTime %}{{ event.startTimestamp|date("H:i") }}{% endif %}{{ event.showEndDateOrTime?' - ':'' }}
                {% if event.showEndDate %}{{ event.endTimestamp|date("D") }},&nbsp;{{ event.endTimestamp|date("d.m.") }}{% endif %}
                {% if event.showEndTime %}{{ event.endTimestamp|date("H:i") }}{% endif %}
            </dt>
            <dd>
                {% if event.showDetails %}
                    <a href="/snk/event/{{ event.uid }}" name="snk-termin-{{ event.uid }}" class="snk-termin-link">
                        {{ event.title }}
                    </a>
                {% else %}
                    {{ event.title }}
                {% endif %}
            </dd>
            {% endfor %}
        </dl>
    </div>

    <div class="snk-footer">
	<span class="btn snk-hinzufuegen">
		<a href="https://www.scoutnet.de/community/kalender/termine-bearbeiten/structure/{{ structures.0.uid }}/new" target="_top">{{ "add event"|t }}</a>
	</span>
    <span class="btn snk-powered-by">
		 <span><a href="http://www.scoutnet.de/technik/kalender/" target="_top">ScoutNet.DE</a></span>
	</span>
    </div>
</div>
